html, body, 


.body{
 background:#FFFFFF;
 background-color:#FFFFFF;
 padding-bottom: 300px


}

.header{
 background-color:$primary-color;
 background:$primary-color;
}

.columns{
 padding-bottom: 16px;
 padding-top: 16px;
 padding-left: 0px !important;
 padding-right: 0px !important;





.nintendo_logo{
 width: 120px;
 height:30px;
 margin: 0 auto;

 }
}

.sub-header{
 background-color:#FFFFFF;
 background:#FFFFFF;
 width: 104px !important;
 height: 17px !important;
 max-height: 100%;
 border-bottom: solid 1px;
 display:inline-block;
 font-size: 14px !important;
 hyphens: none;
 white-space: nowrap; 

.sub-header-column{
padding-top: 0px !important;	
padding-bottom: 0px !important;
padding-left: 0px !important; 
padding-right: 0px !important;




.columns{
    padding-bottom: 5px;
    padding-right: 40px !important;
    padding-left: 40px !important;  /*both are 40 original*/
    padding-top: 5px;
    text-align: center;


 a{
 color:#484848;
 font-size: 14px;
 width: 103px;
 height: 16px;

.sub-text{
width:20px;
margin-right: 5px;
display: inline-block;

   
  }
 }
}
th{
 text-align: center;
 padding: 1px;
}

.menu-divider{
 padding-left: 40px !important;
 padding-right: 40px !important;

}

.divider{
 width: 1px;
 height: 22px;
 color:#484848;
 background-color:#484848;
 display: inline-block;


   }
  }
 }

 .sub-switch{
 padding-right: 0px !important;
 }

.sub-my-nintendo{
padding-left: 20px !important;
}

.my-nintendo-section{
padding-left:0px !important;
padding-top: 0px !important;
padding-right:0px !important;
padding-bottom: 0px !important;

 & > tbody > tr > th{
 	padding-left:0px !important;
	padding-top: 0px !important;
	padding-right:0px;
	padding-bottom: 0px;

  }
 }

.my-nintendo-icon{
padding-left:0px;
padding-top: 0px;
padding-right:0px;
padding-bottom: 0px;
display: block;

}

.sub-section-text{
	padding-left:0px;
	padding-top: 16px !important;
	padding-right:0px;
	padding-bottom: 0px;
}

.gold-points-text{
color: $primary-color !important;
font-size: 16px !important;
font-weight: 700;
padding-top: 0px !important;
padding-bottom: 0px;
margin-bottom: 0;

}

.mario-section{
	background:$primary-color;
	background-color:$primary-color;
	padding-bottom: 0px !important;
	padding-left:0px !important;

& > tbody > tr > th{
	padding-right: 0px !important;
}

.mario-section-text{
padding-left: 0px;
padding-top: 25px;

}

.username{
color: white !important;	
padding-top:50px !important;
padding-bottom: 0px;
font-weight:900; 
margin-bottom: 0px;
}



.columns{
padding-bottom: 0px !important;

	
 }
}

.goodnews{
   padding-left:0px;
	padding-top: 0px !important;
	padding-right:0px;
	padding-bottom: 0px;
& > tbody > tr > th{
	padding-top: 0px !important;
	padding-bottom: 0px !important;
 }
}

.toby-game{
 width: 143px;
 padding-right: 0px !important;
 padding-top: 10px !important;
}

.game-img{
	padding-left:45px !important;
	padding-top: 0px !important;
	padding-right:0px;
	padding-bottom: 0px;
	display: block;

}

.game-title-section{
 padding-left: 0px !important;
}

.game-title{
 color: #212121;
 font-size: 126%;
 font-weight:bold;
 text-decoration:underline;
 font-family: Tahoma,Geneva,sans-serif;


}

.regular-price{
 text-decoration: line-through;
 padding-right: 5px;
 font-size: 13px;

}

.red-price{
	text-decoration: none;
    color: $primary-color;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    padding-right: 6px;
}

.precentage-price{
font-size: 13px;
text-decoration: none;
}


.sale-end{
	text-decoration: none;
	color: #212121;
	font-family: Tahoma,Geneva,sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin: 0;
	margin-bottom: 0;
	padding: 0;

}


.rating{
	color: #212121;
	font-family: Verdana,Geneva,sans-serif;
	font-size: 63%;
	font-weight: normal;
	margin: 0;
	margin-bottom: 0;
    padding-top: 10px;
   
}




.footer-social{
background: $primary-color;
background-color: $primary-color; 


}


.social-icons {
	img{
width: 32px !important;
display: block !important;
  }
 }


.privacy-icon{
	img{  
max-width: 51px !important;
width:51px !important;
height: 68px !important;
 }
}


._1,._2,._3,._4,._5,._6,._7{
color:#414141 !important;
font-family:'Helvetica Neue',Helvetica,Arial,sans-serif !important;
font-size:11px !important;
margin:0;
margin-bottom:0;
padding-top: 30px;
hyphens: none;
}