<!--start-footer-row-->
<container>
	<row class="footer-social">

         <columns class="footer-left">   
              
              <row class="social-icons" valign="middle">

              <columns>
           <img style= "height:27px; width:27px; padding-bottom: 0px !important;" src="{{roots}}/assets/img/nintendo_files/facebook_icon.png">
           <!--facebook-icon-img-->
              </columns>
               
              <columns>
           <img style="height:25px !important; width:35px !important; padding-bottom: 0px !important;" src="{{roots}}/assets/img/nintendo_files/twitter_icon.png"  >
           <!--twitter-icon-img-->
              </columns>
               
               <columns> 
           <img style= "height:27px; width:32px !important; padding-bottom: 0px !important;"  src="{{roots}}/assets/img/nintendo_files/youtube_icon.png">
           <!--youtube-icon-img-->
               </columns>
              
              <columns >
           <img style= "height:27px; width:27px; padding-bottom: 0px !important;" src="{{roots}}/assets/img/nintendo_files/instagram_icon.png">
           <!--instagram-icon-img-->
        </columns>
        </row>

         <columns style="padding-top: 10px; padding-bottom: 10px;" align="right">
        <img class="privacy-icon" align="middle" src="{{roots}}/assets/img/nintendo_files/privacy_icon.png"> 
         <!--privacy-logo-img-->
        </columns>

      </row>
</container>
<!--end-footer-row-->