<!--main-footer-start-->
<!--start-footer-row-->

<container>
  <row class="footer-social">


    <columns  large="6">
      <row class="social-icons">

       <columns small="1"   large="3"> <!--<a href="https://www.facebook.com/Nintendo/"> -->
           <img src="{{roots}}/assets/img/nintendo_files/facebook_icon.png">
           <!--facebook-icon-img-->
      </columns>

        <columns small="1"  large="3"> <!--<a href="https://twitter.com/NintendoAmerica"> -->
           <img src="{{roots}}/assets/img/nintendo_files/twitter_icon.png">
           <!--twitter-icon-img-->
              </columns>

      <columns small="1"  large="3"> <!--<a href="https://www.youtube.com/user/Nintendo"> --> 
        <img src="{{roots}}/assets/img/nintendo_files/youtube_icon.png">
           <!--youtube-icon-img-->
     </columns>

      <columns small="1"  large="3"> <!--<a href="https://www.instagram.com/nintendo"> -->
      <img src="{{roots}}/assets/img/nintendo_files/instagram_icon.png">
           <!--instagram-icon-img-->
        </columns> 
 


      <columns class="privacy-icon" small="2"  large="6" valign="middle">
        <img src="{{roots}}/assets/img/nintendo_files/privacy_icon.png"> 
         <!--privacy-logo-img-->
        </columns>

       </row>
    </columns>
  </row>
</container>


<!--start-of-text-footer-->
<container >
  <row>
    <comlumn class="footer-text">

      <p class="_1">Product prices subject to change without notice. For real-time pricing information, please visit <span style="text-decoration: underline;">Nintendo.com</span> or Nintendo eShop on your Nintendo Switch system.
      </p>

      <p class="_2">Internet access required for online features. For more info, go to <span style="text-decoration: underline;">support.nintendo.com.</span>
      </p>
       
       <p class="_3">To ensure ongoing optimal receipt of these communications, please add our ‘From’ address <span style="text-decoration: underline;">(nintendo-noreply@nintendo.net)</span> to your Address Book. Thank you.</p>

       <p class="_4">This e-mail was sent to your email address because you asked to receive updates and promotions from Nintendo.</p>

       <p class="_5">If you do not wish to receive such emails in the future, please <span style="text-decoration: underline;">unsubscribe.</span></p>

       <p class="_5">This e-mail is a presentation of Nintendo of America Inc., 4600 150th Ave NE, Redmond, WA 98052, <span style="text-decoration: underline;">nintendo.com/corp.</span>
       </p>

       <p class="_6">Game trademarks and copyrights are properties of their respective owners. Nintendo properties are trademarks of Nintendo. © 2020 Nintendo.
       </p>

       <p class="_7">If you have any questions about Nintendo’s privacy practices, <span style="text-decoration: underline;">click here.</span>
       </p>

    </comlumn>
  </row>

</container>
<!--end-of-text-footer-->


<!--main-footer-end-->